.ip{
    background-color: #616872;
}
.mt-4{
    text-align: center;
    font-size: x-large;
}
.smt-btm{
    background-color: #616872;
    border:1px solid whitesmoke;
    font-size: larger;
    display: flex;
    margin: 50px auto 0;
}
.smt-btm:hover {
    background-color: #1e2835;
    border: #616872;
}
.smt-btm:active{
    background-color: #000000;
}

.compartment{
    display: block;
    height: 120px;
    margin: 5px  10px 10px;

}
.boxx{
    margin: 4vh auto;
    display: block;
    justify-content: center;
    width: 35%;
    height: 80vh;
    padding: 10px;
    border: 2px solid whitesmoke;
    background-color:#1e2835;
}